.section-blog .blog-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 20px 80px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------Nav--------------*/
/*----------Header-------------*/
header {
  width: 100%;
  height: 600px;
  background: #6441A5;
  background: -webkit-linear-gradient(to right, rgba(41, 8, 68, 0.603), rgba(100, 65, 164, 0.61));
  background: linear-gradient(to right, rgba(41, 8, 68, 0.603), rgba(100, 65, 164, 0.616)), url(../images/Banner-brk.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  header .wave {
    position: absolute;
    bottom: 0;
    width: 100%; }
  header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center; }
    header .textos-header h1 {
      font-size: 50px;
      color: #fff;
      font-family: 'Titillium Web', sans-serif; }

/*-------Intro-Nosotros--------*/
.intro-container {
  width: 100%;
  height: 400px; }
  .intro-container h2 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #191970;
    text-align: center; }
  .intro-container .intro-subcontainer {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden; }
    .intro-container .intro-subcontainer img {
      width: 40%;
      height: 300px;
      margin-left: 20px; }
    .intro-container .intro-subcontainer .intro-parrafo {
      display: flex;
      width: 48%;
      text-align: justify;
      color: #191970;
      align-items: center;
      font-weight: 300;
      padding: 0 0 30px 15px; }

/*---------Servicios-----------*/
.servicios-container {
  background-color: #191970;
  width: 100%;
  height: 400px; }
  .servicios-container h2 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #fffffe;
    padding-top: 20px;
    margin-bottom: 2rem; }
  .servicios-container .servicios-subcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px; }
    .servicios-container .servicios-subcontainer div {
      width: 20%;
      text-align: center;
      border: solid 1px #181818;
      border-radius: 3px;
      align-items: center;
      padding: 1rem;
      transition: 0.5s; }
      .servicios-container .servicios-subcontainer div:hover {
        box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5); }
      .servicios-container .servicios-subcontainer div img {
        width: 40%; }
      .servicios-container .servicios-subcontainer div h3 {
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 25px;
        padding-top: 30px;
        color: #fffffe; }
      .servicios-container .servicios-subcontainer div .btn-serv {
        border: 1px solid #fff;
        background: none;
        color: #fff;
        padding: 8px 16px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        margin: 10px;
        transition: 0.8s;
        position: relative;
        overflow: hidden; }
        .servicios-container .servicios-subcontainer div .btn-serv:hover {
          color: #3498db;
          background: white; }

/*----------Frase--------------*/
.frase {
  background-color: #00CED1;
  padding: 20px 50px;
  align-items: center; }
  .frase div {
    width: 60%;
    align-items: center; }
  .frase p {
    text-align: left;
    color: #191970; }
  .frase .autor {
    color: #191970;
    text-align: right; }

/*-----------Blog--------------*/
.section-blog {
  background-color: #191970; }
  .section-blog h1 {
    text-align: center;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #fffffe; }
  .section-blog .blog-container div {
    margin: 40px 80px;
    background-color: #4682B4;
    padding: 30px;
    border-radius: 15px; }
    .section-blog .blog-container div h2 {
      text-align: center;
      font-size: 18px bold;
      font-family: 'Roboto', sans-serif; }
    .section-blog .blog-container div p {
      font-size: 10px;
      padding-bottom: 10px; }

/*--------Newsletter-----------*/
.newsletter-container {
  display: flex;
  justify-content: space-between; }

/*--------Logo WP-------------*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

/*--------Formulario-----------*/
.form-container {
  background-color: #00CED1;
  align-items: center; }
  .form-container h2 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #191970; }
  .form-container #contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #191970; }
    .form-container #contacto .form-up {
      margin: 10px; }

/*----------Footer-------------*/
.footer-container {
  background-color: #191970;
  padding: 30px;
  display: flex;
  justify-content: space-around; }
  .footer-container h4 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #fffffe; }
  .footer-container ul li {
    color: #00CED1; }
    .footer-container ul li a {
      text-decoration: none; }
