@import "base/colors";
@import "base/fonts";
@import "components/header";
@import "components/cards";
@import "components/buttons";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*----------Header-------------*/

header {
    width: 100%;
    height: 600px;
    background: #6441A5;  
    background: -webkit-linear-gradient(to right, hsla(273, 79%, 15%, 0.603), hsla(261, 43%, 45%, 0.61)); 
    background: linear-gradient(to right, hsla(273, 79%, 15%, 0.603), hsla(261, 43%, 45%, 0.616)), url(../images/Banner-brk.png); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;

       .wave {
           position: absolute;
           bottom: 0;
           width: 100%;
       }

       .textos-header{
           display: flex;
           height: 430px;
           width: 100%;
           align-items: center;
           justify-content: center;
           text-align: center;

            h1{
                font-size: 50px;
                color: #fff;
                font-family: 'Titillium Web', sans-serif;
            }
       }
}


/*-------Intro-Nosotros--------*/

.intro-container {
    
    width: 100%;
    height: 400px;    
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0,.20);
    
        h2 {
            @include titulos-oscuro;
            text-align: center;
        }
        
        .intro-subcontainer {
            display: flex;
            justify-content: space-evenly;

            img{
                width: 40%;
                height: 300px;
                margin-left: 20px;
            }

            .intro-parrafo {
                display: flex;
                width: 48%;
                text-align: justify;
                color: $color-secundario;
                align-items: center;
                font-weight: 300;
                padding: 0 0 30px 15px;

            }
        }
    }

/*---------Servicios-----------*/

.servicios-container {
    background-color: $color-secundario;
    width: 100%;
    height: 450px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 20%);


    h2 {
        @include titulos-claro;
        padding-top: 40px;
        margin-bottom: 2rem;
    }

    .servicios-subcontainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;

           div {
               width: 20%;
               text-align: center;
               border: solid 1px #181818;
               border-radius: 3px; 
               align-items: center;
               padding: 1rem;
               transition: 0.5s;
               background-color:  #31295a;

               &:hover {
               box-shadow: 3px 3px 2px 2px rgba(0,0,0,.5);
               background-color: #2776aa;
                }
               img {
                   width: 40%;
               }

               h3 {
                   @include titulos-claro;

               }

               .btn-serv {
                   border: 1px solid #fff;
                   background: none;
                   color: #fff;
                   padding: 8px 16px;
                   font-size: 18px;
                   font-family: 'Roboto', sans-serif;
                   cursor: pointer;
                   margin: 10px;
                   transition: 0.8s;
                   position: relative;
                   overflow: hidden;
                   

                   &:hover {
                       color:#3498db;
                       background: rgb(255, 255, 255);
                   }  
                }
           }

}
}


/*----------Frase--------------*/

.frase {
    background-color: $color-terciario;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    div{
        width: 60%;
        align-items: center;
    }
    
    p { 
        text-align: left;
        color: $color-secundario;
    }

    .autor{
        color: $color-secundario;
        text-align: right;
    }
}

/*-----------Blog--------------*/


.section-blog {
    background-color: $color-secundario;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 20%);
    width: 100%;
    height: 450px;


    h1 {
        text-align: center;
        @include titulos-claro;
    }

    .blog-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 30px;
                text-align: center;
                background-color: #4683b477;
                width: 25%;
                height: 250px;
                padding: 30px;
                border-radius: 15px;


                h2 {
                    align-items: center;
                    @include titulos-claro;
                    font-size: 20px;
                }
                button{
                @include boton-primario
                    }
            }
        }
        }

/*--------Logo WP-------------*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*--------Formulario-----------*/

.form-container {
    background-color: #eeeeee;
    align-items: center;
    height: 500px;
    width: 100%;

    h2{ 
        @include titulos-oscuro;
    }

    .form-row{
        display: flex;
        height: 80%;
        justify-content: space-evenly;
        align-items: center;
        flex: wrap;
    }

    .datos-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        text-align: left;
        
        a {
            text-decoration: none;
        }
        
        h5 {
            @include titulos-oscuro;
            text-decoration: none;
        }

        .redes-form{
    
            .iconos {
                width: 50px;
                height: 50px;
                margin-top: 20px;
            }
        }
    }

    .formulario {
        width: 60%;
        text-align: center;

        

        .btn-form {
            @include boton-primario;
            color: $color-secundario;
        }

        div {
            margin: 5px;
            color: $color-secundario;
        }

        .input-contacto {
            width: 65%;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            background-color: $color-terciario;
            color: $color-secundario;
            border: 1px solid;


        }
    }
}

/*----------Footer-------------*/

.footer-container {
    background-color: $color-secundario;
    padding:30px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 20%);
        
    h4{
        @include titulos-claro;
    }
    
    ul{
        li{
            color: $color-terciario;

            a{
                text-decoration: none;


            }
        }
    }

    .footer-redes {
        text-align: center;

        .iconos-footer {
            display: inline;
            width: 40px;
            height: 40px;
            margin-top: 20px;
        }


    }

}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    .intro-container{
        height: 1100px;
    }

    .intro-subcontainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    .servicios-container {
        height: 1100px;

    
        .servicios-subcontainer {
            flex-direction: column;
            justify-content: space-evenly;

            div{ 
                width: auto;
            }
        }
    }

.section-blog {
    height: 1100px;

    .blog-container {
        flex-direction: column;

        div{
            width: 80%;
        }
    }
}

    .form-container{
    height: 1100px;

        .form-row {
            flex-direction: column;
            justify-content: space-evenly;
            }
        }

    .footer-container{
        height: 600px;
        flex-direction: column;
    }

}