@import "base/colors";
@import "base/fonts";
@import "components/header";
@import "components/cards";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------Nav--------------*/
/*----------Banner-------------*/
/*-------Intro-Nosotros--------*/

.intro-container {
    
    width: 100%;
    height: 90%;        
        h1 {
            @include titulos-oscuro;
            text-align: center;
        }
        
        div {
            display: flex;
            align-items: center;
            margin: 30px 50px;
            width: 80%;
            justify-content: space-evenly;
            
            p {
                text-align: left;
                color: $color-secundario;
                margin-left: 30px;
            }

            img {
                width: 50%;
                height: 50%;
                margin-left: 50px;
                display: block;
                margin: auto;
            }
        }
    }

/*---------Servicios-----------*/

.servicios-container {
    background-color: $color-secundario;
    padding-bottom: 40px;

    h2 {
        @include titulos-claro;
        padding-top: 20px;
    }

    .servicios-subcontainer {
        display: flex;
        justify-content: space-evenly;
        margin: 0px 50px;

        a:hover{
            text-decoration: none;

        }

        div {
            text-align: center;
            background-color: darkorchid;
            padding: 20px;
            border-radius: 3px;


            img {
                width: 40px;
                height: 40px;
            }

            h3 {
                @include titulos-claro;
                margin-bottom: 10px;
                text-decoration: none;
            }

            button {
                background-color: $color-secundario;
                color: $color-terciario;
                border: solid 1px;
                padding: 3px 5px;
                font-family: 'Titillium Web', sans-serif;


            }
        }
    }
}



/*----------Frase--------------*/

.frase {
    background-color: $color-terciario;
    padding: 20px 50px;
    align-items: center;

    div{
        width: 60%;
        align-items: center;
    }
    
    p { 
        text-align: left;
        color: $color-secundario;
    }

    .autor{
        color: $color-secundario;
        text-align: right;
    }
}

/*-----------Blog--------------*/


.section-blog {
    background-color: $color-secundario;

    h1 {
        text-align: center;
        @include titulos-claro;
    }

    .blog-container {
        @extend %cards;
    
        
        div { 
            margin: 40px 80px;
            background-color: $color-primario;
            padding: 30px;
            border-radius: 15px;
            h2 {
                @include subtitulos;
            }
            p {
                font-size: 10px;
                padding-bottom: 10px;
           }
        }
    }
}

/*--------Newsletter-----------*/

.newsletter-container{
    display: flex;
    justify-content: space-;

/*--------Formulario-----------*/

.form-container {
    background-color: $color-terciario;
    align-items: center;

    h2{ 
        @include titulos-oscuro;
    }

    #contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: $color-secundario;



            .form-up{
                margin: 10px;
            }
    }

}

/*----------Footer-------------*/

.footer-container{
    background-color: $color-secundario;
    padding:30px;
    display: flex;
    justify-content: space-around;
        
        h4 {
            @include titulos-claro;
        }
        ul {
            li {
                color: $color-terciario;

                a {
                    text-decoration: none;
                }
            }
        }
}