
@mixin boton-primario {


    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    

    &:hover {
        color:#3498db;
        background: rgb(255, 255, 255);
    }  
 }
