
@mixin titulos {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 30px;
    color: #fffffe;
}

@mixin subtitulos {
    text-align: center;
    font-size: 18px bold;
    margin-bottom: 5px;
}

